@font-face {
  font-family: 'Exo 2';
  src: url('../public/Exo2-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Exo 2';
  src: url('../public/Exo2-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
